<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HANSSEM</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="wrap">
        <header class="header">
            <h1 class="logo">
                <a href="#"><img src="../images/h1_logo.gif" alt="hanssem logo"></a>
            </h1>
            <nav class="navigation">
                <ul class="lnb">
                    <li>
                        <a href="#">기업소개</a>
                        <ul class="introduce act">
                            <li>
                                <a href="#">경영이념</a>
                            </li>
                            <li>
                                <a href="#">경영방침</a>
                            </li>
                            <li>
                                <a href="#">사업소개</a>
                            </li>
                            <li>
                                <a href="#">연혁</a>
                            </li>
                            <li>
                                <a href="#">한샘소식</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">채용안내</a>
                        <ul class="info_recruit act">
                            <li>
                                <a href="#">채용공고</a>
                            </li>
                            <li>
                                <a href="#">나의 채용정보</a>
                            </li>
                            <li>
                                <a href="#">채용정보</a>
                            </li>
                            <li>
                                <a href="#">한샘인사</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">대리점 채용안내</a>
                        <ul class="franchise act">
                            <li>
                                <a href="#">KD</a>
                            </li>
                            <li>
                                <a href="#">IC</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">투자정보</a>
                        <ul class="investiment act">
                            <li>
                                <a href="#">경영정보</a>
                            </li>
                            <li>
                                <a href="#">재무정보</a>
                            </li>
                            <li>
                                <a href="#">공시</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">사회공헌</a>
                        <ul class="contribution act">
                            <li>
                                <a href="#">한샘사회공헌</a>
                            </li>
                            <li>
                                <a href="#">사회공헌 발자취</a>
                            </li>
                            <li>
                                <a href="#">한샘 사회공헌 소식</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">고객지원</a>
                        <ul class="support act">
                            <li>
                                <a href="#">한샘서비스센터</a>
                            </li>
                            <li>
                                <a href="#">고객상담</a>
                            </li>
                            <li>
                                <a href="#">찾아오시는길</a>
                            </li>
                            <li>
                                <a href="#">한샘맴버십</a>
                            </li>
                            <li>
                                <a href="#">한샘상품권</a>
                            </li>
                            <li>
                                <a href="#">공지사항</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="recruit-blog">
                <a href="#"><img src="../images/pc_img_banner.png" alt="hanssem sangsang recruit blog"></a>
            </div>

            <div class="site">
                <h2 class="famaily-site">
                    <img src="../images/h2_family.gif" alt="family site logo">
                </h2>
                <ul class="site-list">
                    <li><a href="#">한샘몰</a></li>
                    <li><a href="#">한샘키친&amp;바스</a></li>
                    <li><a href="#">한샘인테리어</a></li>
                    <li><a href="#">한샘리하우스</a></li>
                    <li><a href="#">한샘서비스센터</a></li>
                    <li><a href="#">한샘상상</a></li>
                </ul>
            </div>

            <div class="social">
                <a href="#"><img src="../images/icon_facebook.gif" alt="facebook image"></img></a>
                <a href="#"><img src="../images/icon_blog.gif" alt="blog image"></img></a>
                <a href="#"><img src="../images/icon_youtube.gif" alt="youtube image"></img></a>
            </div>
        </header>

        <div class="main-wrap">
            <div class="util">
                <div class="site-map">
                    <a href="#">멤버십소개</a>
                    <a href="#">사이트맵</a>
                </div>

                <div class="select-language">
                    <p class="language">Language:</p>
                    <ul class="nation-list">
                        <li class="nation korean"><a href="#">Korean</a> <span>&nbsp;&nbsp;/<span></li>
                        <li class="nation"><a href="#">English</a> <span>&nbsp;&nbsp;/<span></li>
                        <li class="nation"><a href="#">Chinese (Simplified)</a></li>
                    </ul>
                </div>
            </div>

            <main class="main-content">
                <div class="column column1">
                    <div class="carousel">
                        <div class="visual-style carousel-01"></div>
                        <div class="visual-style carousel-02"></div>
                        <div class="visual-style carousel-03"></div>
                        <div class="visual-style carousel-04"></div>
                        <div class="carousel_btn">
                            <button class="pause_btn"></button>
                            <button class="prev_btn"></button>
                            <button class="next_btn"></button>
                        </div>
                    </div>
                </div>

                <div class="column column2">
                    <div class="family-site">
                        <div class="hanssem">
                            <div class="mall">
                                <div class="description">
                                    <em>한샘몰</em>
                                    <p>최고의 품질, 합리적인 가격 1등 인테리어 전문 쇼핑몰</p>
                                    <button><span>바로가기</span></button>
                                </div>
                                <div class="hanssem-image mall-image">
                                    <img src="../images/img_mall_02.jpg" alt="mall image">
                                </div>
                            </div>
                        </div>
                        <div class="hanssem">
                            <div class="kitchen">
                                <div class="description">
                                    <em>한샘키친&amp;바스</em>
                                    <p>최고의 품격과 가치를 드리는 부엌과 욕실 공간</p>
                                    <button><span>바로가기</span></button>
                                </div>
                                <div class="hanssem-image">
                                    <img src="../images/img_kit_02.jpg" alt="mall image">
                                </div>
                            </div>
                        </div>
                        <div class="hanssem">
                            <div class="interior">
                                <div class="description">
                                    <em>한샘인테리어</em>
                                    <p>가구에서 생활용품까지 <br>매장에서 만나는 프리미엄 홈 인테리어 솔루션</p>
                                    <button><span>바로가기</span></button>
                                </div>
                                <div class="hanssem-image">
                                    <img src="../images/img_int_02.jpg" alt="mall image">
                                </div>
                            </div>
                        </div>
                        <div class="hanssem">
                            <div class="rehouse">
                                <div class="description">
                                    <em>한샘리하우스</em>
                                    <p>견적상담부터 공사까지<br> 믿을 수 있는 홈 리모델링 솔루션</p>
                                    <button><span>바로가기</span></button>
                                </div>
                                <div class="hanssem-image">
                                    <img src="../images/img_ik_02.jpg" alt="mall image" width="245px" height="171px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column column3">
                    <div class="board">
                        <div class="news">
                            <div class="divide">
                                <h2 class="news-heading">한샘 소식</h2>
                                <ul class="news-list">
                                    <li class="bullet">
                                        <a href="#" class="news-bullet">제조 사업부, 경기도 품질분임조 경진대회 우수상 수상</a>
                                        <time class="news-date" datetime="2017-06-27T16:14:30">2017-06-27</time>
                                    </li>
                                    <li class="bullet">
                                        <a href="#" class="news-bullet">토탈 리모델링 전문 쇼룸, '한샘 리하우스' 대구범어점 오픈</a>
                                        <time class="news-date" datetime="2017-06-27T16:14:30">2017-06-27</time>
                                    </li>
                                    <li class="bullet">
                                        <a href="#" class="news-bullet">한샘 '2017 상하이 키친 &amp; 바스 차이나' 참가</a>
                                        <time class="news-date" datetime="2017-06-27T16:14:30">2017-06-27</time>
                                    </li>
                                </ul>
                                <a href="#" class="news-more" title="한샘뉴스"></a>
                            </div>
                        </div>

                        <div class="notice">
                            <div class="divide-notice">
                                <h2 class="notice-heading">공지사항</h2>
                                <ul class="notice-list">
                                    <li class="bullet">
                                        <a href="#" class="notice-bullet">한샘 인테리어 대리점 사업설명회</a>
                                        <time class="notice-date" datetime="2017-06-27T17:20:30">2017-06-27</time>
                                    </li>
                                    <li class="bullet">
                                        <a href="#" class="notice-bullet">닷컴 리뉴얼 오픈</a>
                                        <time class="notice-date" datetime="2017-06-27T17:20:30">2017-06-27</time>
                                    </li>
                                </ul>
                                <a href="#" class="notice-more" title="공지사항"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <article class="hanssem-people">
                <div class="aside-hanssem">
                    <div class="hanssem-sangsang">
                        <a href="#"><img src="../images/main_visual02.png" alt="한샘 상상"></a>
                    </div>

                    <div class="hanssem-social">
                        <div class="group">
                            <div class="main-blog">
                                <a href="#">
                                    <p>한샘 공식 블로그</p>
                                    <img src="../images/blog.png" alt="" width="45px" height="35px">
                                </a>
                            </div>
                            <div class="blog">
                                <a href="#">
                                    <p>한샘 채용 블로그</p>
                                    <img src="../images/hanssem_sangsang.png" alt="" width="75px" height="35px">
                                </a>
                            </div>
                            <div class="face-book">
                                <a href="#">
                                    <p>한샘 페이스북</p>
                                    <img src="../images/icon_facebook.gif" alt="" width="40px" height="35px">
                                </a>
                            </div>
                            <div class="instagram">
                                <a href="#">
                                    <p>한샘 인스타그램</p>
                                    <img src="../images/instagram.png" alt="" width="40px" height="35px">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <footer class="footer">
                <div class="foot-util">
                    <div class="foot-util_left">
                        <div class="foot-link">
                            <a href="#">이용약관</a><span>/</span>
                            <a href="#">개인정보처리방침</a><span>/</span>
                            <a href="#">이메일무단수집거부</a><span>/</span>
                            <a href="#">사이버감사실</a>
                        </div>
                        <div class="foot-info">
                            <ul>
                                <li class="nth">대표: 최양하, 사업자등록번호: 133-81-22865</li>
                                <li>경기도 안산시 번영2로 144 / 15418</li>
                                <li class="nth">통신판매신고번호: 안산 제 512호</li>
                                <li>대표번호:02-6908-3114 &nbsp;&nbsp; <a href="#" class="as">A/S센터: http://as.hanssem.com</a></li>
                                <li>쇼핑몰 고객센터 : 1688-4945</li>
                            </ul>
                        </div>
                    </div>
                    <div class="foot-util_right">
                        <p>한샘플래그샵</p>
                        <ul>
                            <li>잠실점 02-3430-6900, 논현점 02-542-8558</li>
                            <li>목동점 02-6344-7000, 방배점 02-591-2300</li>
                            <li>분당점 031-7190-3100, 부산센텀점 051-790-8500</li>
                            <li>대구범어점 053-749-8500, 상봉점 02-6244-5000</li>
                            <li>수원광교점 031-888-0800</li>
                        </ul>
                    </div>
                </div>
                <p class="copy">All rights reserved. Copyright 2015</p>
            </footer>
        </div>
    </div>

    <!-- jquery CDN -->
    <script
        src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
        crossorigin="anonymous">
    </script>
    
    <!-- 메인메뉴 -->
    <script>
        $(function(){
          $(".lnb>li").mouseover(function(){
            $(this).children().css("display","block");
            $(this).siblings().find("ul").css("display","none");
          });
        });

        $(function(){
          $(".lnb>li").mouseout(function(){
            $(this).children().siblings("ul").css("display","none");
          });            
        });
        
        $(function(){
          $(".lnb>li>a").focus(function(){
            $(this).siblings().css("display","block");
            $(this).parent().siblings().find("ul").css("display","none");
          });
        });
    </script>
    <!-- <script src="../js/main.js"></script> -->
    <script src="../js/carousel.js"></script>
</body>
</html>