<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{page.title}}{% endif %} 안녕 혼자왔니?</title>
    <!-- <meta name="description" content="{{page.meta}}"> -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link rel="icon" href="{{site.baseurl}}/skull.png">
    <style>
        .footer{
            width: 100%;
            margin: 0;
            position: absolute;
            bottom: 0;
            border-top: 1px solid #efdfdf;
        }
    </style>
</head>
<body>
    <div class="skip-nav"><a href="#content">본문 바로가기</a></div>
    <div id="wrapper">
        <header class="header">
            <h1><a href="{{site.baseurl}}/index.html">My</a> blog</h1>
        </header>
        <main class="content">
            {{content}}
        </main>
        <footer class="footer">
            {% include footer.html %}
        </footer>
    </div>
</body>
</html>