<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{page.title}} | {% endif %} O.dev</title>
    <!-- <meta name="description" content="{{page.meta}}"> -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
    <link rel="icon" href="{{site.baseurl}}/skull.png">
</head>
<body>
    <a href="#content" class="skip-nav">본문 바로가기</a>
    <div id="wrapper">
        <header class="header">
            <div class="main-header">
                <h1><a href="{{site.baseurl}}/index.html">O.dev.log</a></h1>
                <p>Develop daily</p>
            </div>
            {% include g-nav.html %}
        </header>
        <main class="content">
            {{content}}
            <footer class="footer">
                {% include footer.html %}
            </footer>
        </main>
    </div>
    <a href="http://foo.com/bar.html#disqus_thread">Link</a>
    <script id="dsq-count-scr" src="//lldldudalsll.disqus.com/count.js" async></script>
</body>
</html>